{% extends 'layouts/main.html' %}
{% block title %}Chain Code{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Chain Code</h1>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2>Upload a picture</h2>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file></p>
      <p><button type="submit" class="btn btn-success">Upload</button></p>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <h2>Sebelum</h2>
    <img src="{{ url_for('static', filename = 'uploads/chaincode_' + random_char_chaincode) }}" height="350">
  </div>
  <div class="col-lg-6">
    <h2>Sesudah</h2>
    <p>Chain Code</p>
    <textarea class="form-control" rows="5" id="chaincode">{{ chaincode }}</textarea>
    <p>Kode Belok</p>
    <textarea class="form-control" rows="5" id="kodebelok">{{ kodebelok }}</textarea>
    <p>Klasifikasi</p>
    <textarea class="form-control" rows="5" id="kodebelok">{{ classification }}</textarea>
  </div>
</div>


{% endblock %}
