{% extends 'layouts/main.html' %}
{% block title %}Sobel Edge Detection{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Sobel Edge Detection</h1>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2>Unggah Gambar</h2>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file></p>
      <p><button type="submit" class="btn btn-success">Upload</button></p>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <img src="{{ url_for('static', filename = 'sobel/fathan.png') }}" width="1100">
  </div>
</div>

{% endblock %}
